<nav>
<a href=”https://www.google.com">LinkedIn</a> |
<a href=”/css/”>Github</a> |
<a href=”/js/”>Medium</a> |
</nav>

# Project: Wrangling and Analyze Data

<div class="alert alert-success" markdown="1">

 ### Author : **Ouedraogo Ami Samyra**  
 #### Dog Data analyste
<img src="https://d34zrgnx1tq8w.cloudfront.net/564277/uploads/4cd4a820-9f83-11ec-b6a3-4bf447759056_1200_630.png">

</div>

## Data Gathering

##### Import libraries

In [1]:
!pip install squarify

Requirement already satisfied: squarify in c:\users\ouedr\anaconda3\lib\site-packages (0.4.3)

In [2]:
import pandas as pd
import requests
import re
import json
import matplotlib.pyplot as plt
import seaborn as sns
import squarify                 # generate treemap

##### load csv data

In [3]:
twitter=pd.read_csv("data/twitter-archive-enhanced.csv")

#### load tsv data with resquest and store it in my current file

In [4]:
images=requests.get("https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv")
with open("images_predictions.tsv",mode="wb") as file:
    file.write(images.content)

#### load tsv file from my directory

In [5]:
im_predict=pd.read_csv("data/images_predictions.tsv",delimiter="\t") 
im_predict

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

#### read every line of the file to a string

In [6]:
with open(r'C:/Users/ouedr/projet2/data/tweet-json.txt', encoding='utf-8') as f:
    lines = f.readlines()

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/ouedr/projet2/data/tweet-json.txt'

#### convert each line to a json object and store them in a dictionnary

In [ ]:
data = []
for line in lines:
    data.append(json.loads(line))

data[0]

#### convert my dictionnary into a dataframe

In [ ]:
df = pd.DataFrame(data)

tweet=df[['id','retweet_count','favorite_count']]
tweet=tweet.rename(columns={'id':'tweet_id'})
tweet.tail()

## Assessing Data

#### lets checks check if we have to deals with tidy or /and dirty data

In [ ]:
twitter.info()

In [ ]:
tweet.info()

In [ ]:
im_predict.info()

In [ ]:
for col in twitter.select_dtypes('object'):
    print(f'{col :-<50}\n {twitter[col].unique()}\n')

In [ ]:

for col in tweet.select_dtypes('object'):
    print(f'{col :-<50}\n {tweet[col].unique()}\n')

In [ ]:
for col in im_predict.select_dtypes('object'):
    print(f'{col :-<50}\n {im_predict[col].unique()}\n')

In [ ]:
twitter.describe()

In [ ]:
tweet.describe()

In [ ]:
im_predict.describe()

In [ ]:
twitter.name.value_counts()

In [ ]:
twitter.rating_numerator.describe()

In [ ]:
twitter.rating_denominator.describe()

In [ ]:
im_predict.p1.value_counts()

In [ ]:
twitter.duplicated().sum()

In [ ]:
tweet.duplicated().sum()

In [ ]:
im_predict.duplicated().sum()

In [ ]:
plt.figure(figsize=(20,10))
sns.heatmap(twitter.isna(), cbar=False)

#### lets check if each image have been predicted

In [ ]:
im_predict.query('p1_dog==False & p2_dog == False & p3_dog == False|p1_dog==True & p2_dog == True & p3_dog == True')

In [ ]:
im_predict.query('p1_conf==False & p2_dog == False & p3_dog == False|p1_dog==True & p2_dog == True & p3_dog == True')

In [ ]:
#Creating Function for Barh Plot
def Barplot(data_name,plot_title,x_label,y_label):
    data_name.plot(kind = 'barh',figsize = (10,6))
    plt.title(plot_title)
    plt.xlabel(x_label)
    plt.ylabel(y_label)
    plt.show()

## Assessing Data


### Quality issues    
##### Twitter archive  table 
<li>we can se that we have some missing data(in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id, retweeted_status_user_id , retweeted_status_timestamp,expanded_urls)</li>
<li> some dogs have as name 'a' which is an error due to name extraction</li>
<li> timestamp,retweeted_status_timestamp should be a datetime type</li>
<li> some rating_denominator are greater than 10 exemple 180 or 50</li>
<li>source : source url still contains some html tag to remove</li>
<li>some rating denominator,rating numerator are equals to zero</li>
<li>some rating note have been extract incorrectly and some are not even dog rating</li>

#### images_predictions
<li>some dogs have not been classified </li>
<li>some dogs have more than one classification</li>
<li>name of image prediction table's columns  are not revelant</li>

### tidyness issues
#### Twitter archive  table
<li> tweets informations and retweet information should be separate</li>
<li> columns doggo,floofer,pupper,puppo should be one columns</li>
<li> the 3 dataset should be merge together</li>

In [ ]:
df_twitter=twitter.copy()
df_tweet=tweet.copy()
df_predict=im_predict.copy()

### Data Cleaning

#### data quality

>#### define
convert timestamp,retweeted_status_timestamp by using to_datetime()

#### code

In [ ]:
df_twitter[['timestamp','retweeted_status_timestamp']]=df_twitter[['timestamp','retweeted_status_timestamp']].apply(lambda x: pd.to_datetime(x))

#### test

In [ ]:
df_twitter[['timestamp','retweeted_status_timestamp']].info()

>#### define
source url still contains some html tag to remove with pandas replace function

#### code

In [ ]:

df_twitter.source=df_twitter.source.str.replace(r'<[^<>]*>', '', regex=True)

#### test

In [ ]:
df_twitter.source

>#### define
some dogs have as name 'a' which is an error due to name extraction ,i first will try to find the right name and for those that i can find i'll remplace them by None

#### code

In [ ]:
name_to_extraxt=df_twitter[df_twitter["name"]=="a"]
name_to_extraxt.to_csv("data/name_to_extraxt.csv")

In [ ]:
name_extract=pd.read_csv("data/name_extraxt.csv")
name_extract.set_index('index',inplace=True)
name_extract.loc[2066]["name"]

In [ ]:
for ind in name_extract.index: 
    df_twitter.loc[ind,"name"]=name_extract.loc[ind]["name"]

In [ ]:
df_twitter.loc[df_twitter[df_twitter["name"]=="a"].index,"name"]="None"

#### test

In [ ]:
df_twitter.name.value_counts()

>#### define  
#some rating denominator,rating numerator are equals to zero

In [ ]:
#code

In [ ]:
df_twitter.drop(df_twitter[(df_twitter["rating_numerator"]==0) | (df_twitter["rating_denominator"]==0)].index,inplace=True)

In [ ]:
#test

In [ ]:
df_twitter[(df_twitter["rating_numerator"]==0) | (df_twitter["rating_denominator"]==0)]

>#### define
some rating_denominator are greater than 10 exemple 180 or 50

#### code

In [ ]:

df_twitter["dog_rate"]=df_twitter["rating_numerator"]/df_twitter["rating_denominator"]

### test

In [ ]:
df_twitter["dog_rate"]

#### tidyness

>#### define
tweets informations and retweet information should be separate

#### code

In [ ]:
df_retweet=df_twitter[['tweet_id','retweeted_status_id', 'retweeted_status_user_id','retweeted_status_timestamp']]
df_reply=df_twitter[['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id','timestamp']]
df_twitter=df_twitter[["tweet_id",'timestamp', 'expanded_urls', 'rating_numerator','rating_denominator', 'name','dog_rate','doggo','floofer','pupper','puppo']]

In [ ]:
df_twitter.tweet_id.drop_duplicates(inplace=True)

#### test

In [ ]:
df_twitter.sample(10)

> #### define
columns doggo,floofer,pupper,puppo should be one columns by using pandas melt function

#### code

In [ ]:
df_twitter.columns

In [ ]:

df_twitter = pd.melt(df_twitter, id_vars=['tweet_id','timestamp','expanded_urls', 'rating_numerator','rating_denominator', 'name','dog_rate' ],var_name='status', value_name='doggolingo_term')

In [ ]:
df_twitter.drop(columns={"status"},inplace=True)

#### test

In [ ]:
df_twitter[df_twitter["doggolingo_term"]!="None"]

In [ ]:
df_twitter.info()

> #### Define
the 3 dataset should be merge together

#### Code

In [ ]:
df_final=pd.merge(pd.merge(df_twitter,tweet,on='tweet_id',how="inner"),im_predict,on='tweet_id',how="outer")

#### test

In [ ]:
df_final.isna().sum()

In [ ]:
df_final.sample(10)

## Storing Data

In [ ]:
df_final.to_csv("data/twitter_archive_master.csv")

## Analyzing and Visualizing Data

### Insights:

<li>1-top 10 of posted name on weratedogs</li>
<li>2-top 10 of underrated dog</li>
<li>3-which post about dogs have been the most retweet?</li>
<li>5-top 10 favorites dog base on favorite_count</li>

### Visualization

#### 1-top 10 of posted name on weratedogs

In [ ]:
df_twitter.info()

In [ ]:
top_10_dog_name=df_final.name.value_counts()
top_10_dog_name=top_10_dog_name[1:10].sort_values(ascending=False)
top_10_dog_name

In [ ]:
Barplot(top_10_dog_name,'top_10 common dog name','rate','dog name')

In [ ]:
#### Conclusion

les 10 noms de chien les plus posté sont
- Charlie  
- Oliver     
- Lucy       
- Cooper     
- Penny      
- Lola       
- Tucker     
- Winston    
- Bo

#### 2-top 10 of underrated dog

In [ ]:
top_10_underrated_dog=df_twitter.groupby(["name"]).mean().sort_values(by="dog_rate",ascending=True)
top_10_underrated_dog=top_10_underrated_dog[:10]['dog_rate']
top_10_underrated_dog

In [ ]:
Barplot(top_10_underrated_dog,'top_10_underrated_dog dog name','rate','dog name')

In [ ]:
#### Conclusion

la liste des noms de chiens les plus underrated
- Tedrick         0.2
- Henry           0.2
- Charl           0.3
- Chuck           0.3
- Alexanderson    0.3
- Wesley          0.3
- Tommy           0.3
- Bobby           0.4
- Fido            0.4
- Zeek            0.5

#### 3-which post about dogs have been the most retweet?

In [ ]:
most_retweet=df_final.groupby('doggolingo_term').sum().sort_values(by="favorite_count",ascending=False)
most_retweet.reset_index(inplace=True)

In [ ]:
most_retweet=most_retweet[1:5]
most_retweet

In [ ]:

plt.figure(figsize=(12,6))
squarify.plot(most_retweet['retweet_count'], label=most_retweet.doggolingo_term,color=sns.color_palette("Blues", 
                                     len(most_retweet)),alpha=0.2);
plt.title("most retweet dog type base of doggolingo classification") ; 
plt.axis('off');
plt.show();

#### Conclusion

les types de chiens conformement a la classification doggolingo les plus retwetter sont par ordre decroissant
les pupper ,les doggo ,les puppo et les floofler

#### 4-top 10 favorites dog base on favorite_count

In [ ]:
to_10_favorite_dog=df_final.groupby('name').sum().sort_values(by="favorite_count",ascending=False)
to_10_favorite_dog=to_10_favorite_dog[:11]
to_10_favorite_dog=to_10_favorite_dog[1:10]
to_10_favorite_dog.reset_index(inplace=True)
to_10_favorite_dog

In [ ]:
to_10_favorite_dog=to_10_favorite_dog[["name","favorite_count"]]

In [ ]:
plt.figure(figsize=[15,7])
sns.barplot(x='name', y='favorite_count', hue = 'name',palette="Blues_d", data=to_10_favorite_dog);
plt.title("top 10 favorite dog")

#### Conclusion

les top 10 des chiens ayant eté choisi comme favoris sur weRateDogs sont Bo,Charlie ,zoey ,Lucy ,Duddle,quite,Stephan ,Jamesy an Penny